*{
    margin: 0;
}
.card{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
}
.Box{
    display: inline-block;
}
.Off{
    position: absolute;
    font-size: 20px;
    color: white;
    background-color: rgba(237, 51, 26,0.6);
    bottom: 10px;
}
.img{
    position: relative;
}
.img{
    height: 250px;
    width: 300px;
    border-radius: 20px;
}
.Resturant, .Food_Inf,.Location{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Resturant_name{
    font-size: 20px;
    font-weight: bold;
    

}
body{
    background-color: rgb(250, 238, 238);
}
.card:hover{
    background-color: white;
    /* border: 10px solid rgb(247, 248, 248); */
    border-color: white;

}
.Rating{
    background-color: green;
    height: 20px;
    padding: 3px;
    position: absolute;
    right: 5px;
    color: white;
    border-radius: 8px;
}
.Food_Price, .Distance{
    position: absolute;
    right: 5px;
}
.Food_Inf,.Place{
    font-size: 15px;
    color: rgb(173, 169, 169);
}
.Distance{
    font-weight: bold;
   
}