body{
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    background-image: url(pexels-iriser-1379636.jpg);
    background-repeat: repeat-x;
    background-size: 100% 100%;
    background-position: top right;
    
}

h1{
    color: pink;
}

p{
    color: white;
}