h1{
    color: brown;
}

h1:hover{
    color: yellow;
}
.para{
    color: blue;
}

#button{
    color: aquamarine;
    background-color: rgb(14, 12, 11);
}
#button:hover{
    background-color: pink;
}